---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import CallToAction from '../components/CallToAction.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <ContentMedia
    imgSrc="/comingTogether.webp"
    altText="4 volunteers and a small child sitting down, drinking tea and talking about how to improve Druids Heath"
  >
    <h2>We are coming together because we live and work in Druids Heath...</h2>
    <p class="text-2xl">
      Our experiences of living here, the things we love, and the things we want to change have brought us together.
    </p>
  </ContentMedia>
  <ContentMedia
    imgSrc="/workWithOurNeighbours.webp"
    reverseImg={true}
    altText="Founder members Phil and Ollie after our first ever litterpick"
  >
    <h2>We work with our neighbours...</h2>
    <p class="text-2xl"> To improve front gardens, streets and the green spaces next to them.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/talkTo.webp" altText="4 volunteers on a footpath in Druids Heath">
    <h2>We talk to our neighbours...</h2>
    <p class="text-2xl"> About what we do and what we want to do</p>
  </ContentMedia>
  <ContentMedia imgSrc="/listenTo.webp" reverseImg={true}>
    <h2>We listen to our neighbours...</h2>
    <p class="text-2xl"> To get their ideas and try to make them happen.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/volunteerOurTime.webp">
    <h2>We volunteer our time...</h2>
    <p class="text-2xl"> To plant areas, remove rubbish, and help take care of wildlife.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/weDoThis.webp" reverseImg={true}>
    <h2>We do this to...</h2>
    <p class="text-2xl">
      <ul class="list-disc pl-5">
        <li class="text-2xl">Reduce littering, flytipping and anti-social behaviour</li>
        <li class="text-2xl">Improve people's well-being and feelings of personal safety</li>
        <li class="text-2xl">Increase the area's self-sufficiency, biodiversity and sustainability.</li>
      </ul>
    </p>
  </ContentMedia>
  <CallToAction />
</DefaultLayout>
